<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">


<section class="h-100 gradient-form" *ngIf="educa">
    <div class="container contact">
	<div class="row">
		<div class="col-md-3">
			<div class="contact-info">
				<img src="../../../assets/APLogo.png" alt="image"/>
				<h2>Editar educación</h2>
        <hr>
				<h5>¡Aquí puedes editar los datos que quieras!</h5>
        <hr>
        <img src="{{educa.imagenEdu}}">
			</div>
		</div>
		<div class="col-md-9">
			<div class="contact-form">
				<form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
          <div class="form-group">
            <label class="control-label col-sm-4" for="tituloEdu">Titulo</label>
            <div class="col-sm-10">          
              <input type="text" class="form-control" id="tituloEdu" placeholder="Ejemplo: FCE FIRST" name="tituloEdu" [(ngModel)]="educa.tituloEdu" required>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-5" for="subtituloEdu">Institución</label>
            <div class="col-sm-10">          
              <input type="text" class="form-control" id="subtituloEdu" placeholder="Ejemplo: Cambridge" name="subtituloEdu" [(ngModel)]="educa.subtituloEdu" required>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-4" for="fechaEdu">Fecha de inicio</label>
            <div class="col-sm-10">
              <input type="date" class="form-control" id="fechaEdu" name="fechaEdu" [(ngModel)]="educa.fechaEdu" required>
            </div>
          </div>
          <div class="form-group">
              <label class="control-label col-sm-4" for="fechaFinEdu">Fecha de finalización</label>
              <div class="col-sm-10">
                <input type="date" class="form-control" id="fechaFinEdu" name="fechaFinEdu" [(ngModel)]="educa.fechaFinEdu" required>
              </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-4" for="imagenEdu">URL de imagen</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="imagenEdu" placeholder="Ejemplo: http://www.google/8ur8uf9i.png" name="imagenEdu" [(ngModel)]="educa.imagenEdu" required>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-4" for="descEdu">Descripcion:</label>
            <div class="col-sm-10">
              <textarea class="form-control" rows="5" id="descEdu" placeholder="Aqui puedes adicionar una breve información." name="descEdu" [(ngModel)]="educa.descEdu" required></textarea>
            </div>
          </div>
          <div class="form-group">        
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default" id="actualizar">Actualizar</button>
              <button type="submit" class="btn btn-default" id="cancelar" (click)="cancelar()">Cancelar</button>
            </div>
          </div>
      </form>
			</div>
		</div>
	</div>
</div>

</section>
