<div class="skills" data-aos="fade-left">  
    <div class="row">
          <h1>Hard & soft skills</h1>
          <div class="col-sm-12 col-md-12 col-lg-12">
              <circle-progress
                  [percent]="50"
                  [backgroundColor]="'rgba(199, 90, 1, 0.25)'"
                  [radius]="55"
                  [showUnits]="false"
                  [imageSrc]="'../assets/html.png'"
                  [showImage]="true"
                  [imageHeight]="80"
                  [imageWidth]="60"
                  [titleFontSize]="'3em'"
                  [showSubtitle]="false"
                  [outerStrokeWidth]="10"
                  [innerStrokeWidth]="1"
                  [outerStrokeColor]="'red'"
                  [innerStrokeColor]="'rgba(100, 0, 0, 0.1)'"
                  [animation]="true"
                  [animationDuration]="300"
                  
              ></circle-progress>
              
              <circle-progress
                  [percent]="50"
                  [backgroundColor]="'rgba(199, 90, 1, 0.25)'"
                  [radius]="55"
                  [showUnits]="false"
                  [imageSrc]="'../assets/js.png'"
                  [showImage]="true"
                  [imageHeight]="80"
                  [imageWidth]="60"
                  [titleFontSize]="'3em'"
                  [showSubtitle]="false"
                  [outerStrokeWidth]="10"
                  [innerStrokeWidth]="1"
                  [outerStrokeColor]="'red'"
                  [innerStrokeColor]="'rgba(100, 0, 0, 0.1)'"
                  [animation]="true"
                  [animationDuration]="300"
              ></circle-progress>
  
              <circle-progress
                  [percent]="50"
                  [backgroundColor]="'rgba(199, 90, 1, 0.25)'"
                  [radius]="55"
                  [showUnits]="false"
                  [imageSrc]="'../assets/css.png'"
                  [showImage]="true"
                  [imageHeight]="80"
                  [imageWidth]="60"
                  [titleFontSize]="'3em'"
                  [showSubtitle]="false"
                  [outerStrokeWidth]="10"
                  [innerStrokeWidth]="1"
                  [outerStrokeColor]="'red'"
                  [innerStrokeColor]="'rgba(100, 0, 0, 0.1)'"
                  [animation]="true"
                  [animationDuration]="300"
                  
              ></circle-progress>
  
              <circle-progress
                  [percent]="50"
                  [backgroundColor]="'rgba(199, 90, 1, 0.25)'"
                  [radius]="55"
                  [showUnits]="false"
                  [imageSrc]="'../assets/word.png'"
                  [showImage]="true"
                  [imageHeight]="80"
                  [imageWidth]="60"
                  [titleFontSize]="'3em'"
                  [showSubtitle]="false"
                  [outerStrokeWidth]="10"
                  [innerStrokeWidth]="1"
                  [outerStrokeColor]="'red'"
                  [innerStrokeColor]="'rgba(100, 0, 0, 0.1)'"
                  [animation]="true"
                  [animationDuration]="300"
                  
              ></circle-progress>
  
              <circle-progress
                  [percent]="50"
                  [backgroundColor]="'rgba(199, 90, 1, 0.25)'"
                  [radius]="55"
                  [showUnits]="false"
                  [imageSrc]="'../assets/excel.png'"
                  [showImage]="true"
                  [imageHeight]="80"
                  [imageWidth]="60"
                  [titleFontSize]="'3em'"
                  [showSubtitle]="false"
                  [outerStrokeWidth]="10"
                  [innerStrokeWidth]="1"
                  [outerStrokeColor]="'red'"
                  [innerStrokeColor]="'rgba(100, 0, 0, 0.1)'"
                  [animation]="true"
                  [animationDuration]="300"
                  
              ></circle-progress>
      </div>
  </div>  
  
  
  