<div class="carta">
    <div class="proyectos">

        <a class="btn btn-secondary tooltips"
        data-placement="top"
        data-toggle="tooltip"
        data-original-title="Delete"
        id="cruz" style="float: right"
        *ngIf="isLogged"><i class="fa fa-times"></i></a>
        <a class="btn btn-primary tooltips"
        data-placement="top"
        data-toggle="tooltip"
        data-original-title="Edit"
        id="lapiz" style="float: right"
        *ngIf="isLogged"><i class="fa fa-pencil"></i></a>
        

        <h1>Proyectos</h1>
        <div *ngFor="let proyectos of proyectos" >
            <ul>
                <li>
                <h2>{{proyectos.tituloProye}}</h2> <h4>{{proyectos.subtituloProye}} ({{proyectos.fechaProye}} - {{proyectos.fechaFinProye}}) </h4>
                </li>

                <p>
                    {{proyectos.descProye}}
                </p>
            </ul>
        </div>
    </div>
</div>