<div class="carta">
    <div class="row">
        <h1>Proyectos</h1>
        <div class="col-lg-11">
            <ul>
                <li>
                <h2>Portfolio web</h2> <h4>Proyecto final #YoProgramo (2022 - 2023) </h4>
                </li>

                <p>
                    Diseñe esta misma web como trabajo final para el curso de ArgentinaPrograma, en la cual emplee las distintas tecnlogias vistas, tales como: JavaScript, HTML, CSS, TypeScript, Java.
                </p>
            </ul>
        </div>
    </div>
</div>