.row{
    padding:20px;
    padding-right: 10%;
    margin-right: 3%;
}

div{
    background-color: rgba(51, 1, 77, 0.183);
    border-radius: 20px;
    padding-top: 1%;
    margin: 3%;
    padding-bottom: 3%;
    justify-content: center;
}

.carta{
    padding-top: 1%;
    margin: 0%;
}

h2{
    margin-top: 5%;
}

p{
    padding-top: 1%;
}