<div class="carta" data-aos="fade-left">
    <div class="educacion">
        <h1>Educacion</h1>
        <div>
            <ul>
                <img src="../../../assets/escuela.jpg" id="escuela" style="float: right">
                <li>
                <h2>Secundario completo</h2> <h4>Instituto Republica Argentina (2017 - 2022) </h4>
                </li>
                
                <p>
                    Finalicé mis estudios de nivel secundario en el Instituto Republica Argentina, con bachiller en administracion en empresas.
                </p>
                <br>
                <br>
                <img src="../../../assets/seprogramar.jpg" id="seprogramar" style="float: right">
                <li>
                <h2>Curso #SeProgramar</h2> <h4>Argentina programa  (2021 - 2022)</h4>
                </li>
                
                <p>
                    Curso de introducción a la programación trabajando con lenguajes JavaScript y Ruby.
                </p>

                

            </ul>
        </div>
    </div>
</div>