<div class="carta">
    <div class="educacion">
        
        <a class="btn btn-secondary tooltips"
            data-placement="top"
            data-toggle="tooltip"
            data-original-title="Delete"
            id="cruz" style="float: right"><i class="fa fa-times"></i></a>
        <a class="btn btn-primary tooltips"
            data-placement="top"
            data-toggle="tooltip"
            data-original-title="Edit"
            id="lapiz" style="float: right"><i class="fa fa-pencil"></i></a>
            
        <h1>Educacion</h1>
        <div *ngFor="let educacion of educaciones" >
            
            <ul>
                <img src="{{educacion.imagenEdu}}" id="escuela" style="float: right">
                <li>
                <h2>{{educacion.tituloEdu}}</h2> <h4>{{educacion.subtituloEdu}} ({{educacion.fechaEdu}} - {{educacion.fechaFinEdu}}) </h4>
                </li>
                
                <p>
                    {{educacion.descEdu}}
                </p>
             
            </ul>
            
        </div>
    </div>
</div>