<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">


    <section class="h-100 gradient-form" *ngIf="expLab">
        <div class="container contact">
      <div class="row">
        <div class="col-md-3">
          <div class="contact-info">
            <img src="../../../assets/APLogo.png" alt="image"/>
            <h2>Editar experiencia</h2>
            <hr>
            <h5>¡Aquí puedes editar los datos que quieras!</h5>
            <hr>
            <img src="{{expLab.imagenExp}}">
          </div>
        </div>
        <div class="col-md-9">
          <div class="contact-form" >
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                    <div class="form-group">
                      <label class="control-label col-sm-4" for="tituloExp">Nombre de la empresa</label>
                      <div class="col-sm-10">          
                        <input type="text" class="form-control" id="tituloExp" placeholder="Ejemplo: McDonald's" name="tituloExp" [(ngModel)]="expLab.tituloExp" required>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-sm-5" for="subtituloExp">Puesto</label>
                      <div class="col-sm-10">          
                        <input type="text" class="form-control" id="subtituloExp" placeholder="Ejemplo: Cajero" name="subtituloExp" [(ngModel)]="expLab.subtituloExp" required>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-sm-4" for="fechaExp">Fecha de inicio</label>
                      <div class="col-sm-10">
                        <input type="date" class="form-control" id="fechaExp" name="fechaExp" [(ngModel)]="expLab.fechaExp" required>
                      </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="fechaFinExp">Fecha de finalización</label>
                        <div class="col-sm-10">
                          <input type="date" class="form-control" id="fechaFinExp" name="fechaFinExp" [(ngModel)]="expLab.fechaFinExp" required>
                        </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-sm-4" for="imagenExp">URL de imagen</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="imagenExp" placeholder="Ejemplo: http://www.google/8ur8uf9i.png" name="imagenExp" [(ngModel)]="expLab.imagenExp" required>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-sm-4" for="descExp">Descripcion:</label>
                      <div class="col-sm-10">
                        <textarea class="form-control" rows="5" id="descExp" placeholder="Aqui puedes adicionar una breve información." name="descExp" [(ngModel)]="expLab.descExp" required></textarea>
                      </div>
                    </div>
                    <div class="form-group">        
                      <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default" id="actualizar">Actualizar</button>
                        <button type="submit" class="btn btn-default" id="cancelar" (click)="cancelar()">Cancelar</button>
                      </div>
                    </div>
                </form>
			</div>
		</div>
	</div>
</div>

</section>
