<div class="educacion" data-aos="fade-right">
    <div class="idiomas">
        <h1>Idiomas</h1>
        <div>
            <ul>
                <li>
                <h2>Ingles</h2> <h4>Certificado Cambridge B1 INTERMEDIATE</h4>
                </li>

                <p>
                    Actualmente sigo estudiando y perfeccionandome en el idioma.
                </p>

                <li>
                <h2>Portugues</h2> <h4>Nivel basico</h4>
                </li>

                <p>
                    Estudie el idioma cuando estaba en la secundaria.
                </p>

            </ul>
        </div>
    </div>
</div>