<div class="row">
    <div class="container">
        <div class="logo">
            <a href="https://argentinaprograma.inti.gob.ar/"><img src="../../../assets/APLogo.png" id="logoAP"></a>
        </div>
        <div class="redes">
            <div class="bton">
                <div class="zoom">
                    <a href="https://www.linkedin.com/in/rodrigo-molina-01bbba248/"><img src="../../../assets/linkedin.svg" id="linkedin"></a>
                </div>
            
                <div class="zoom">
                    <a href="https://twitter.com/home"><img src="../../../assets/twiter.svg" id="twitter"></a>
                </div>
            
                <div class="zoom">
                    <a href="https://www.instagram.com/rodrymclina/"><img src="../../../assets/instargam.svg" id="instagram"></a>
                </div>
            
                <div class="zoom">
                    <a href="https://github.com/elrodrics"><img src="../../../assets/githum.svg" id="github"></a>
                </div>
            
                <div class="zoom">
                    <a href="https://www.facebook.com/"><img src="../../../assets/facebuck.svg" id="facebook"></a>
                </div>

                <div class="log">
                    <button type="button" class="btn btn-warning" (click)="login()">
                        LOGIN
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

