<div *ngIf="usuario" class="presentacion">
    <div class="row">
        
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <img src={{usuario.fotoPerfil}} class="img-fluid" id="fotoperfil">
        </div>
        
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <p id="nombre">{{usuario.nombre}} {{usuario.apellido}}</p>
                <p>{{usuario.titulo}}</p>
        </div>
        
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <span>
                <h1>Acerca de mi</h1>
                <p>{{usuario.descripcion}}</p>
            </span>
        </div>
    </div>
</div>