<div class="carta">
    <div class="experiencia">

        <a class="btn btn-secondary tooltips"
        data-placement="top"
        data-toggle="tooltip"
        data-original-title="Delete"
        id="cruz" style="float: right"><i class="fa fa-times"></i></a>
        <a class="btn btn-primary tooltips"
        data-placement="top"
        data-toggle="tooltip"
        data-original-title="Edit"
        id="lapiz" style="float: right"><i class="fa fa-pencil"></i></a>
        
        <h1>Experiencia</h1>
            <div *ngFor="let experiencia of experiencias" >
                <img src="{{experiencia.imagenExp}}" style="float: right">
                    <ul>
                        <li>
                        <h2>{{experiencia.tituloExp}}</h2> <h4>{{experiencia.subtituloExp}} ({{experiencia.fechaExp}} - {{experiencia.fechaFinExp}}) </h4>
                        </li>
                        
                        <p>
                            {{experiencia.descExp}}
                        </p>
                    </ul>
            </div>
    </div>
</div>