<section class="h-100 gradient-form" style="background-color: #181812b8;">
    <div class="container py-5 h-100" data-aos="fade-down">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
          <div class="card rounded-3 text-white">
            
            <div class="row g-0">
              <div class="col-lg-6">
                <div class="card-body p-md-5 mx-md-4">
                  
                  <div class="text-center">
                    <img src="../../../assets/APLogo.png"
                      style="width: 185px;" alt="logo">
                    <h2 class="mt-1 mb-5 pb-1">Iniciar sesión</h2>
                    <p>Ingresa tu direccion email y contraseña</p>
                  </div>
  
                  <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>
                    <div class="form-outline form-white mb-2">
                      <input type="email" id="nombreUserUsuario" name="nombreUserUsuario" class="form-control form-control-lg"
                        [(ngModel)]="nombreUserUsuario" required />
                      <label class="form-label" for="nombreUserUsuario">Usuario</label>
                    </div>
  
                    <div class="form-outline form-white mb-1">
                      <input type="password" id="password" name="password" class="form-control form-control-lg"
                        [(ngModel)]="password" required />
                      <label class="form-label" for="password">Password</label>
                    </div>

                    <div class="text-center pt-1 mb-5 pb-1">
                      <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" type="submit" id="login">Log
                        in</button>
                    </div>
                  </form>
                    
  
                    <div class="d-flex align-items-center justify-content-center pb-4">
                      <p class="mb-0 me-2">¿No tienes cuenta?</p>
                      <button type="button" class="btn btn-outline-danger" id="crearcuenta">Crear cuenta</button>
                    </div>
  
                  
  
                </div>
              </div>
             
              <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                  <h1 class="mb-6">Portfolio</h1>
                  <h1 class="mb-4">Molina Rodrigo</h1>
                  <p class="small mb-0">Recuerda no compartir tu contraseña con terceros. ¡Nunca te la pediremos! o si...</p>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


   