<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">


<section class="h-100 gradient-form">
    <div class="container contact">
	<div class="row">
		<div class="col-md-3">
			<div class="contact-info">
				<img src="../../../assets/APLogo.png" alt="image"/>
				<h2>Añadir certificados</h2>
                <hr>
				<h5>¡Aquí puedes añadir los datos que quieras!</h5>
			</div>
		</div>
		<div class="col-md-9">
			<div class="contact-form">
				<form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                    <div class="form-group">
                      <label class="control-label col-sm-4" for="tituloEdu">Nombre del titulo</label>
                      <div class="col-sm-10">          
                        <input type="text" class="form-control" id="tituloEdu" placeholder="Ejemplo: B2 FIRST" name="tituloEdu" [(ngModel)]="tituloEdu" required>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-sm-5" for="subtituloEdu">Nombre de la institución:</label>
                      <div class="col-sm-10">          
                        <input type="text" class="form-control" id="subtituloEdu" placeholder="Ejemplo: Cambridge" name="subtituloEdu" [(ngModel)]="subtituloEdu" required>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-sm-4" for="fechaEdu">Fecha de inicio:</label>
                      <div class="col-sm-10">
                        <input type="date" class="form-control" id="fechaEdu" name="fechaEdu" [(ngModel)]="fechaEdu" required>
                      </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="fechaFinEdu">Fecha de finalización:</label>
                        <div class="col-sm-10">
                          <input type="date" class="form-control" id="fechaFinEdu" name="fechaFinEdu" [(ngModel)]="fechaFinEdu" required>
                        </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-sm-4" for="imagenEdu">URL de la imagen:</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="imagenEdu" placeholder="Ejemplo: http://www.google/8ur8uf9i.png" name="imagenEdu" [(ngModel)]="imagenEdu" required>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-sm-4" for="descEdu">Descripcion:</label>
                      <div class="col-sm-10">
                        <textarea class="form-control" rows="5" id="descEdu" placeholder="Aqui puedes adicionar una breve información." name="descEdu" [(ngModel)]="descEdu" required></textarea>
                      </div>
                    </div>
                    <div class="form-group">        
                      <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default" id="actualizar">Agregar educación</button>
                        <button type="submit" class="btn btn-default" id="cancelar" (click)="cancelar()">Cancelar</button>
                      </div>
                    </div>
                  </form>
                
			</div>
		</div>
	</div>
</div>

</section>

  